<div id="banner" class="banner">
    <a href="http://thelensnola.org/" target="_blank" id="banner-logo" class="banner-logo">
        <img id="banner-image" src="https://s3-us-west-2.amazonaws.com/lensnola/realestate/css/images/lens-logo-retina.png" width="100" alt="The Lens logo">
    </a>
    <a href="/realestate/" id="banner-title" class="banner-title">Property sales</a>
    <a href="http://thelensnola.org/support-us/" target="_blank" id="banner-support" class="banner-support">Support<br>The Lens</a>
    <!-- <a href="mailto:?subject=New Orleans%20property%20sales%20by%20The%20Lens&body=http://vault.thelensnola.org/realestate" target="_blank" id="banner-social-email" class="banner-social-email"><i class="fa fa-envelope"></i></a> -->
    <a href="https://twitter.com/intent/tweet?url=http://vault.thelensnola.org/realestate?text=A%20map%20of%20every%20property%20sale%20in%20New%20Orleans" target="_blank" id="banner-social-twitter" class="banner-social-twitter"><i id="social-twitter" class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvault.thelensnola.org/realestate" target="_blank" id="banner-social-facebook" class="banner-social-facebook"><i class="fa fa-facebook"></i></a>
</div>
