# Directories
.tox/
backups/
data/
logs/
misc/
www/static/pictures/
tests/data/
tests/misc/

# Files
scripts/phantomjs
scripts/ngrok
scripts/wires

*.DS_Store
*.Python
*.bmml
*.coverage
*.csv
*.log
*.out
*.pyc
*.scpt
*.sql
*.txt

.python-version
package-lock.json
