<div id="foot" style="dislay: none;">
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div id="tailend"></div>
            </div>
        </div>
        <div id="lens-about" class="small-12 columns">
            <div id="about-title">About</div>
            <p>Source: Orleans Parish Civil District Court, <a href="http://www.orleanscivilclerk.com/lr_home.html" target="_blank">Land Records Division</a> records since Feb. 18, 2014. <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">Read more</a> about this project and find other public records and databases in <a href="http://thelensnola.org/thevault/" target="_blank">The Vault</a>.</p>
            <p>*Properties with an asterisk are not mapped because their locations have not been verified.</p>
        </div>
        <div id="credit" class="small-12 columns">
            <div id="credit-title">Credits</div>
            <div>Produced by Thomas Thoren.</div>
            <div>Published Sept. 13, 2014. Updated {{ yesterday_date }}.</div>
        </div>
    </div>
</div>