<div class="row">
    <div>
        <a href="http://qpublic9.qpublic.net/la_orleans_display.php?KEY={{url_param}}" target="_blank">Read more about this property on the Assessor's Office's website.</a>
    </div>
    <div class="small-12 large-8 columns map-wrapper">
        <div id="map"></div>
        
    </div>
    <div class="small-12 large-4 columns" id="table-footer-wrapper">
        <div class="table-wrapper" id="table-wrapper" data-page="{{ page }}" data-totalpages="{{ totalpages }}" data-pagelength="{{ pagelength }}">
            <table id="myTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Location</th>
                        <th>Sellers</th>
                        <th>Buyers</th>
                        <th>Instrument Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newrow in newrows %}
                        <tr id="{{ newrow.instrument_no }}">
                            <td class="document_date no-wrap">{{ newrow.document_date }}</td>
                            <td class="amount no-wrap">{{ newrow.amount }}</td>
                            <td class="location"><a href="/realestate/sale/{{newrow.instrument_no}}" target="_blank">{{ newrow.location }}</a></td>
                            <td class="sellers">{{ newrow.sellers }}</td>
                            <td class="buyers">{{ newrow.buyers }}</td>
                            <td class="instrument_no no-wrap">{{ newrow.instrument_no }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>