<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'banner.html' %}
        <div class="map-table-wrapper" id="map-table-wrapper">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div class="row">
                        <div class="small-12 columns" style="margin: 15px 0;">
                            {% for newrow in newrows %}
                                <div class="document_date no-wrap">{{ newrow.document_date }}</div>
                                <div class="amount no-wrap">{{ newrow.amount }}</div>
                                <div class="address"><strong>Address</strong><br>{{ newrow.address }}</div>
                                <div class="location_info"><strong>Location Info</strong><br>{{ newrow.location_info }}</div>
                                <div class="sellers">{{ newrow.sellers }}</div>
                                <div class="buyers">{{ newrow.buyers }}</div>
                                <div class="instrument_no no-wrap">
                                    <div>
                                        <span class="instrument_no_header">Instrument Number</span>
                                    </div>
                                    <div>
                                        {{ newrow.instrument_no }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="small-12 columns" id="learn-more">
                            <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">Learn more about this data.</a>
                        </div>
                        <div class="small-12 columns" id="assessor">
                            {{ assessor|safe }}
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-6 columns map-wrapper">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        <div id="tooltip"></div>
        {% include 'js.html' %}
        <script type="text/javascript" src={{ js }}></script>
        <script type="text/javascript" src={{ salejs }}></script>
        <script type="text/javascript">
            if ({{ jsdata|tojson }} !== 'None') {
                //console.log('jsdata');
                initialMapFunction({{ jsdata|tojson }});
            }
        </script>
        </script>
    </body>
</html>
