<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}       
    </head>
    <body>
        {% include 'banner.html' %}
        {% include 'searchArea.html' %}
        <div id="map-table-wrapper" class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 text-left columns">
                        <div><span id="qlength">{{ qlength }}</span> <span id="plural_or_not">{{ plural_or_not }}</span> found...</div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-8 columns map-wrapper">
                <div class="row">
                    <div class="small-12 columns">
                        <div id="map" class="map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 text-left columns">
                        <input id="mapButton" type="checkbox" name="mapButton" value="False"><label for="mapButton">Search when I move the map</label>
                    </div>
                </div>
            </div>
            <div class="small-12 large-4 columns" id="table-footer-wrapper">
                <!-- <div class="row">
                    <div class="small-12 text-right columns">
                        <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">What do these mean?</a>
                    </div>
                </div> -->
                <div class="row">
                    <div class="small-12 columns">
                        <div class="table-wrapper" id="table-wrapper" data-page="{{ page }}" data-totalpages="{{ totalpages }}" data-pagelength="{{ pagelength }}">
                            <table id="myTable" class="tablesorter">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Address</th>
                                        <th>Location Info</th>
                                        <th>Sellers</th>
                                        <th>Buyers</th>
                                        <th>Instrument Number</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    {% for newrow in newrows %}
                                        <tr id="{{ newrow.instrument_no }}">
                                            <td class="document_date no-wrap">{{ newrow.document_date }}</td>
                                            <td class="amount no-wrap">{{ newrow.amount }}</td>
                                            <td class="address"><a href="/realestate/sale/{{newrow.instrument_no}}">{{ newrow.address }}</a></td>
                                            <td class="location_info"><a href="/realestate/sale/{{newrow.instrument_no}}">{{ newrow.location_info }}</a></td>
                                            <td class="sellers">{{ newrow.sellers }}</td>
                                            <td class="buyers">{{ newrow.buyers }}</td>
                                            <td class="instrument_no no-wrap">{{ newrow.instrument_no }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row" id="footer">
                            <div class="medium-1 visible-for-medium-only columns">
                                &nbsp;
                            </div>
                            <div class="small-4 medium-3 large-4 small-text-left medium-text-center large-text-left columns pageback">
                                <i class="fa fa-arrow-left"></i> Back
                            </div>
                            <div class="small-4 text-center current-page columns">
                                Page <span id="page">{{ page }}</span> of <span id="totalpages">{{ totalpages }}</span>
                            </div>
                            <div class="small-4 medium-3 large-4 small-text-right medium-text-center large-text-right columns pageforward">
                                Forward <i class="fa fa-arrow-right"></i>
                            </div>
                            <div class="medium-1 visible-for-medium-only columns">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        <div id="tooltip"></div>
        {% include 'js.html' %}
        <script type="text/javascript" src={{ searchjs }}></script>
        <script type="text/javascript">
            if ({{ parameters|tojson }} !== 'None') {
                //console.log('parameters');
                //Populate search parameters
                populateSearchParameters({{ parameters|tojson }})
            }
            if ({{ jsdata|tojson }} !== 'None') {
                //console.log('jsdata');
                //Load map, table, et al
                initialMapFunction({{ jsdata|tojson }});
            }
        </script>
    </body>
</html>
