<div class="row">
  <div class="small-12 columns">
    <div class="row collapse">
      <label>Search property sales records</label> 
      <div class="small-10 medium-11 columns" id="input-div">
        <input id="name_address_box" type="search" name="namesearch" placeholder="e.g. Paul N. Sens, Esplanade Ave." />
      </div>
      <div class="small-2 medium-1 slim columns">
        <button class="button postfix"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 text-right columns">
    <a id="advanced-search">Advanced <span class="no-wrap">search <i class="fa fa-caret-down"></i></span></a>
  </div>
</div>
<div id="filters">
  <div class="row">
    <div class="small-1 columns">&nbsp;</div>

    <div class="small-10 columns filters-wrapper">
      <div class="row">
        <!-- Amount -->
        <div class="small-6 medium-4 columns">
          <div class="search-range-title">Amount</div>
          <label>Low:</label>
            <input id="amount1" class="currency" pattern="\d*" type="search" name="amount-low" placeholder="$">
          <label>High:</label>
            <input id="amount2" class="currency" pattern="\d*" type="search" name="amount-high" placeholder="$">
        </div>
        <!-- end amount -->

        <!-- Date -->
        <div class="small-6 medium-4 columns">
          <div class="search-range-title">Date</div>
          <label>From <span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="Our data only goes back to Feb. 18, 2014. Click to read more."><a id="date-from-label-text" href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">(since Feb. 18, 2014):</a>
            </span>
            <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank"><i id="date-from-label-icon" class="fa fa-info-circle">:</i></a>
          </label>
          <input id="date1" type="text" name="begin-date" placeholder="mm/dd/yyyy">
          <label>To:</label>
          <input id="date2" type="text" name="end-date" placeholder="mm/dd/yyyy">
        </div>
        <!-- End date -->

        <!-- <div class="small-0 medium-2 large-0 columns"><span class="show-for-medium-only">&nbsp;</span></div>
        <div class="small-0 medium-2 large-0 columns"><span class="show-for-medium-only">&nbsp;</span></div> -->

        <!-- Neighborhood -->
        <div class="small-12 medium-4 columns">
          <div class="row">
            <div class="small-6 medium-12 columns">
              <div class="search-range-title">Neighborhood</div>
                <label>&nbsp;</label>
                <select id="neighborhood">
                  <option selected value="">Select</option>
                  {% for neighborhood in data.neighborhoods %}
                  <option value="{{ neighborhood }}">{{ neighborhood }}</option>
                  {% endfor %}
                  <!-- <label>&nbsp;</label>
                  <button class="button postfix" id="geosearch-button">Search near me</button> -->
                </select>
              </div>
              <!-- End Neighborhood -->

              <!-- Zip -->
              <div class="small-6 medium-12 columns">
                <div class="search-range-title zip">ZIP code</div>
                <label class="zip-label">&nbsp;</label>
                <select id="zip_code">
                  <option selected value="">Select</option>
                  {% for zip_code in zip_codes %}
                  <option value="{{ zip_code }}">{{ zip_code }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- end zip -->

          </div>
        </div>
      </div>
    </div>
    <div class="small-1 columns">&nbsp;</div>
  </div>
  <div class="row" id="search-button">
    <div class="small-1 columns">
      &nbsp;
    </div>
    
    <div class="small-10 columns filters-wrapper">
      <div class="row">
        <div class="small-4 columns">
          &nbsp;
        </div>
        <div class="small-4 text-center columns">
          <button class="small button expand">Search</button>
        </div>
        <div class="small-4 columns">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="small-1 columns">
      &nbsp;
    </div>
  </div>
</div>
