/*************
Tabless of contents

1. Custom property sales styles
2. Mobile-only
3. Medium-only
4. Large-only
5. Other

*************/

/*************
  Lens Theme

  Red: #B33125;
  Dark gray: #5A5A54
  Medium gray: #A8A299
  Light gray: #F5F5EF
  Black: #000000;
  White: #FFFFFF;

  Headlines (bold)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  font-weight: bold;

  Headlines alternate (roman)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;

  Sub-headlines (demi)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;

  Body content
  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;

 *************/

/*************

1. CSS overrides

*************/

/*************

2. The Lens styles

*************/

/*************

3. Property sales styles

*************/

body {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
form.leaflet-control-layers-list,
input[type=radio].leaflet-control-layers-selector {
	margin-bottom: 0;
}
input[type="search"] {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}

select {
	height: 100%;
	font-size:16px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
#dashboard-block {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}
textarea {
	min-width: 100px;
	width: auto;
	padding: 5px;
}
#learn-more {
	margin: 15px 0;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#assessor {
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#preview {
	display: none;
	z-index: 1001; /*z-index for Leaflet controls is 1000*/
	position: fixed;
    max-width: 275px;
    max-height: 325px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 5px #888;;
    background-color: #FFF;
    color: #000;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.editable {
	display: inline-block;
	width: auto;
	border: 1px solid #c3c3c3;
	padding: 2px 5px;
	line-height: 14px;
}


li.ui-autocomplete-category {
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	padding: 3px 4px 2px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
li.ui-menu, li.ui-menu-item {
	font-size: 16px;
	left: 1px;
	line-height: 16px;
	margin-right: 0;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
.ui-widget-content .ui-state-focus {
    background: #F5F5EF;
    padding-left: 0.5em;
    border-left: none;
    border-right: none;
}
ul.ui-autocomplete {
	z-index: 1008;
	padding-right: 0;
}

.leaflet-control {
	z-index: 7;
}
#tooltip {
    /*width: 235px;*/
    max-width: 275px;
    max-height: 325px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    box-shadow: 0px 0px 5px #888;;
    background-color: #FFF;
    color: #000;
    position: absolute;
    display: none;
    z-index: 1001; /*z-index for Leaflet controls is 1000*/
    pointer-events: none;/*So hovering doesn't cause stuttering*/
    overflow: auto;
}
.popup {
    width: 100%;
    height: 100%;
    /*pointer-events: auto;*//*To allow for popup div to scroll*/
}
#results-not-found {
	display: none;
	width: 100%;
	text-align: center;
	margin: 10% 0;
}
.centered {
	text-align: center;
}
a, a:focus, a:visited, a:active {
	color: #B43018;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
.leaflet-control-attribution {
	text-align: right;
	background-color: rgba(255,255,255,0.3);
	color: #3887BE;
}
.leaflet-control-attribution a,
.leaflet-control-attribution a:hover {
	color: #3887BE;
}
.small-break {
	line-height: 2px;
}
.has-tip {
	font-weight: normal;
}
#filters {
	display: none;
	margin: 0 0 20px 0;
}
.filters-wrapper {
	background-color: #F0F0F0;
	padding: 0.9375em;
	overflow: hidden;
}
.padding {
	padding: 0 0.9375em;
	height:auto;
}
#advanced-search {
	font-size: 14px;
	line-height: 14px;
	padding-top: 4px;
	margin: 0 0 20px 0;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
.label {
	background-color: transparent;
}
label {
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
.explainer {
	padding-right: 0;
}
#menu-dont-miss li h4 {
	color: #FFFFFF;
}
#myTable {
	border: 0;
}
#myTable th, #myTable tr, #myTable td {
	border: 1px solid #E0E0E0;
}
#myTable, #myTable th, #myTable tr, #myTable td {
	margin: 0;
	font-size: 14px;
	table-layout: auto;
	border-collapse: collapse;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#mapButton {
	vertical-align: baseline;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
#myTable thead th {
	vertical-align: middle;
}
.pageback, .pageforward, .current-page {
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
.fa, .pageforward, .pageback {
	cursor: pointer;
}
.pageforward:hover, .pageback:hover {
	color: #7A7A7A;
}
.has-tip, .has-tip:hover, .has-tip:focus { 
	border-bottom:none;
	}
#tailend {
	background-color: #A8A299;
	height: 1px;
	margin: 3% 15px 0;
}
#lens-about {
	padding-top: 15px;
}
#lens-about p {
	font-size: 14px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#about-title, #credit-title {
	font-size: 20px;
	padding-bottom: 1%;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
#credit {
	margin: 10px 0;
	font-size: 14px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
table {
	margin: 0;
}
.fa:hover {
	color: #000;
}
.fa-caret-down, .fa-caret-up {
	/*vertical-align: text-top;*/
}
.fa-search:hover {
	color: inherit;
}
.fa-search{
	font-size: 18px;
}
#back-button:hover, #forward-button:hover, .fa-arrow-right:hover, .fa-arrow-left:hover {
	color: inherit;
}
#date-from-label-text {
	display: inline;
}
#date-from-label-icon {
	display: none;
}
#banner {
	z-index: 9999;
	/*position: fixed;*/
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-bottom: 3px solid #B33125;
	background: #FFFFFF;
	box-shadow: 0 0 0.9px 1px rgba(0,0,0,.8);
	top: 0;
}
#sponsor-image {
    margin: 3px 10px 0 10px;
}
#banner-logo {
	float: left;
	margin: 5px 10px 0;
}
#banner-title {
	float: left;
	margin: 8px 15px 0 20px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
	font-size: 20px;
}
#banner-sponsor {
    float: left;
    margin: 8px 0 0 20px;
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
#banner-social {
	float: right;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#banner-social-email, #banner-social-twitter, #banner-social-facebook, #banner-support {
	float: right;
	font-size: 26px;
	margin: 5px 15px 0px 0px;
}
#banner-social-email {
	display: none;
}
#banner-support {
	font-size: 14px;
	line-height: 1.1em;
	margin: 5px 15px 0 0;
	text-align: center;
}
#banner a, #banner-social a, #banner-title a, #banner-logo a, #sponsor-logo a, #banner-social-twitter a, #banner-social-facebook a, #banner-social-email {
	text-decoration: none;
	font-weight: normal;
	color: #5A5A54;
}
/*#banner-logo:hover, #banner-social-twitter:hover, #banner-social-facebook:hover, #banner-social-email:hover, #banner-title:hover, #banner-support:hover {
	opacity: 0.7;
}*/
#banner-title:hover, #banner-support:hover {
	text-decoration: underline;
	color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .6 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
#amount1, #amount2, #date1, #date2, #name-address-box  {
	width: 100%;
	font-size: 16px;
}
.slim {
	height: 37px;
}
input {
	outline: none;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus {
    box-shadow: 0 0 5px #b33125;
    -webkit-box-shadow: 0 0 5px #b33125; 
    -moz-box-shadow: 0 0 5px #b33125;
    border:1px solid #b33125; 
}
li.button, li.button:hover, li.button:active, li.button:focus, li.button:visited {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
a.greybutton {
	color: #4e4c4d;
}
#page-title, #page-title a {
	text-align: center;
	position: relative;
	padding: 0px 0 20px 0;
	font-size: 40px;
	line-height: 40px;
	color: #000;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  	/*font-weight: bold;*/
}
#page-title a:hover {
	text-decoration: none;
}
.initial-daterange {
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
	padding: 0 0 4px 0;
	font-size: 14px;
}
.table-container-fade {
	position: absolute;
	bottom: 25px;
	width: 250px;
	/*padding: 0 4em 0 0;*/
	height: 15px;
	background-image: -webkit-linear-gradient(180deg, rgba(255,255,255,.5), #fff);
	background-image: -moz-linear-gradient(180deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(180deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(180deg, rgba(255,255,255,.5), #fff);
	background-image: linear-gradient(180deg, rgba(255,255,255,.5), #fff);
}
#map-table-wrapper {
	padding: 0 0 15px 0;
}
.table-wrapper {
	max-height: 400px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}
.map {
	width: 100%;
	height: 400px;/*100%;*/
	max-height: 400px;
	border: 1px solid #F5F5EF;
}
.map-button {
	margin: 0 auto;
	text-align: right;
	font-size: 13px;
	padding: 1px 0 0 0;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
.search-area {
	background-color: #fff;
	margin: 1% 0 4%;
	padding: 1%;
	height: auto;
	overflow: hidden;
}
.search-area-title {
	font-size: 24px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
	padding: 1% 0;
}
#name-address-box {
	margin-bottom: 0;
}
#search-note {
	color: #B33125;
	font-size: 14px;
	line-height: 12px;
	padding-left: 15px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#search-examples {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 3%;
	padding-top: 4px;
	padding-left: 15px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
.search-bar-div {
	width:100%;
	height: auto;
	margin: 0 auto;
}
.amount-date-div {
	overflow: hidden;
	margin: 3% auto;
}
.amount-div {
	width: 40%;
	float: left;
	padding-left: 10%;
}
.date-div {
	width: 40%;
	float: right;
	padding-right: 10%;
}
.search-range-title {
	font-size: 18px;
	padding: 3% 0 0 0;
	text-align: center;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
.search-bounds {
	width:100%;
	float:left;
}
.from-to {
	display:table-cell;
	min-width: 45px;
	font-size: 14px;
}
.amount-date-input {
	display: table-cell;
	width: 100%;
}
.input-measurements {
	width: 90%;
	min-width: 110px;
	height: 21px;
	margin: 1% 0;
	font-size: 14px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
	cursor: text;
}
.search-buttons {
	margin: 0 auto;
	text-align: center;
}
button.button {
	background-color: #B33125;
}
button.button:active, button.button:focus, button.button:hover {
	background-image: none;
	background-color: #B33125;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 6px 10px rgba(0,0,0,0.125);
	outline: none;
}
button.button:hover {
	background-color: #922A21;
}
#footer {
	padding: 1% 0 0 0;
}
.pager {
	font-size: 13px;
	font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
	width: 100%;
	position: relative;
}
.pager-options {
	float: right;
}
.download-link {
	float: right;
	width: 37%;
	font-size: 12px;
	text-align: right;
	padding-top: 5px;
}
.download-link a {
	font-size: 12px;
	float: right;
	color: #3D3D3D;
}
.download-link a:hover {
	color: rgb(0, 0, 155);
}

.no-wrap {
	white-space: nowrap;
}


/*
 * Single-sale page styles
 */
.single-sale-listing {
	font-size: 14px;
    width: 100%;
    display: block;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
    color: #000;
    padding: 0px;
    margin: 0;
    font-weight: normal;
}
#document-date, #amount {
    width: 49%;
    display: inline-block;
    font-size: 18px;
    padding: 0px;
    color: #000;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
    margin-bottom: 10px;
    font-weight: normal; 
}
#document-date {
    text-align: left;
    margin-right: 0;
}
#amount {
    text-align: right;
    margin-left: 0;
    /*color: #B43018;*/
}
#sellers, #buyers {
  display: inline-block;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  background-color: #FFF;
}
div.sellers {
    margin-right: 0%;
}
div.buyers {
    margin-left: 0%;
}




/*
 Large width
*/
@media screen and (min-width: 1025px) {	
	.map-wrapper {
		padding-right: 0;
	}

	.zip {
		padding-top: 0px;
	}
	.zip-label {
		display: none;
	}

	.table-wrapper {
		overflow-x: hidden;
		overflow-y: scroll; /*auto*/
	}


	.table-wrapper::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}

	.table-wrapper::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);
	}

	#footer .pageback {
		padding-right: 0;
	}
	#footer .pageforward {
		padding-left: 0;
	}
	#footer .current-page {
		padding-left: 0;
		padding-right: 0;
	}

	#myTable {
		border: none;
		width: 100%;
	}
	#myTable thead {
	  	display: none;
	}
	#myTable tr {
		width: 100%;
		height: auto;
		padding: 4px 0;
		border-bottom: 1px solid #A8A299;
	}
	#myTable td {
	 	border: none;
	 	width: 100%;
	}
	#myTable td.document-recorded {
		display: none;
	}
	#myTable td.document-date, #myTable td.amount {
		display: inline-block;
		font-size: 18px;
		padding: 1%;
		color: #000;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		margin: 0;
		font-weight: normal; 
	}
	#myTable td.document-date {
		text-align: left;
		margin-right: 0;
		width: 54%;
	}
	#myTable td.amount {
		text-align: right;
		margin-left: 0;
		width: 42%;
	}
	#myTable td.address {
		font-size: 14px;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		padding: 4px;
		margin: 0;
		font-weight: normal;
	}
	#myTable td.location-info {
		font-size: 14px;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		padding: 4px;
		margin: 0;
		font-weight: normal;
	}
	#myTable td.sellers, #myTable td.buyers {
      display: inline-block;
      vertical-align: top;
      margin-top: 0%;
      margin-bottom: 0%;
      text-align: left;
      font-size: 14px;
      color: #000;
      font-weight: normal;
      background-color: #FFF;
	  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
	}
	#myTable td.sellers {
		margin-right: 0%;
	}
	#myTable td.buyers {
		margin-left: 0%;
	}
	#myTable td.sellers:before, #myTable td.buyers:before {
	  font-size: 14px;
      display: block;
      font-weight: bold;
    }
    #myTable td.sellers:before {
    	content: "Sellers";
    }
    #myTable td.buyers:before {
    	content: "Buyers";
	}
	#myTable td.instrument-no {
		font-size: 14px;
		width: 100%;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		padding: 4px;
		margin: 0;
		font-weight: normal;
	}
	#myTable td.instrument-no:before {
	  font-size: 14px;
      display: block;
      font-weight: bold;
    }
    #myTable td.instrument-no:before {
    	content: "Instrument Number";
    }
	/*table.tablesorter tbody td {
		vertical-align: none;
	}*/
	table.tablesorter tbody td,
	table tr.even, table tr.alt, table tr:nth-of-type(even),
	table.tablesorter tbody > tr:hover > td,
	table.tablesorter tbody > tr:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.even:hover > td,
	table.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.odd:hover > td,
	table.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
		background: #FFFFFF;
	}
}

/* Mobile view */
@media screen and (max-width: 600px) {	
	#banner-social-facebook,
	#banner-social-twitter {
		font-size: 20px;
		margin-top: 7px;
	}
	#search-note {
		padding-bottom: 4px;
	}

	.table-wrapper {
		max-height: none;
		height: auto;
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;

		overflow-x: hidden;
		overflow-y: auto;
	}
	#footer {
		padding-top: 10px;
	}
	#footer .pageback {
		padding-right: 0;
	}
	#footer .pageforward {
		padding-left: 0;
	}
	#footer .current-page {
		padding-left: 0;
		padding-right: 0;
	}

	#myTable {
		border: none;
		width: 100%;
	}
	#myTable thead {
	  	display: none;
	}
	#myTable tr {
		width: 100%;
		height: auto;
		padding: 4px 0;
		border-top: none;
		/*border-right: none;
		border-left: none;*/
		/*border-bottom: 1px solid #A8A299;*/
	}
	#myTable td {
	 	border: none;
	 	width: 100%;
	}
	#myTable td.document-recorded {
		display: none;
	}
	#myTable td.document-date, #myTable td.amount {
		width: 46%;
		display: inline-block;
		font-size: 18px;
		padding: 0;
		color: #000;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		font-weight: normal; 
	}
	#myTable td.document-date {
		text-align: left;
		margin: 2%;
	}
	#myTable td.amount {
		text-align: right;
		margin: 2%;
		/*color: #B43018;*/
	}
	#myTable td.address {
		font-size: 14px;
		width: 96%;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		padding: 0;
		margin: 2% 2% 1%;
		font-weight: normal;
	}
	#myTable td.location-info {
		font-size: 14px;
		width: 96%;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		margin: 0 2% 2%;
		padding: 0;
		font-weight: normal;
	}
	#myTable td.sellers, #myTable td.buyers {
      width: 46%;
      display: inline-block;
      vertical-align: top;
      margin: 2%;
      text-align: left;
      font-size: 14px;
      color: #000000;
      font-weight: normal;
      background-color: #E9E9E9;
	  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
	}
	#myTable td.sellers:before, #myTable td.buyers:before {
	  font-size: 14px;
      display: block;
      font-weight: bold;
    }
    #myTable td.sellers:before {
    	content: "Sellers";
    }
    #myTable td.buyers:before {
    	content: "Buyers";
	}
	#myTable td.instrument-no {
		font-size: 14px;
		width: 100%;
		display: block;
		font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
		color: #000;
		padding: 4px 0 8px;
		margin: 0;
		font-weight: normal;
	}
	#myTable td.instrument-no:before {
	  font-size: 14px;
      display: block;
      font-weight: bold;
    }
    #myTable td.instrument-no:before {
    	content: "Instrument Number";
    }
	/*table.tablesorter tbody td {
		vertical-align: none;
	}*/
	table.tablesorter tbody td,
	table tr.even, table tr.alt, table tr:nth-of-type(even),
	table.tablesorter tbody > tr:hover > td,
	table.tablesorter tbody > tr:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.even:hover > td,
	table.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.odd:hover > td,
	table.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow > td,
	table.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
		background: #FFFFFF;
	}
}

/* Medium-view */
@media screen and (min-width: 641px) and (max-width: 1024px) {
	#page-title {
		/*padding: 0px 0 20px 0;*/
		font-size: 36px;
		line-height: 36px;
	}
	.table-wrapper {
		max-height: none;
	}

	.zip {
		padding-top: 0px;
	}
	.zip-label {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	#page-title {
		/*padding: 20px 0;*/
		font-size: 26px;
		line-height: 26px;
	}
}

@media screen and (min-width: 421px) {
	.low-break-hack {
		display: none !important;
	}
	.attribution-break {
		display: none !important;
	}
}

@media screen and (max-width: 750px) {
	#date-from-label-text {
		display: none;
	}
	#date-from-label-icon {
		display: inline;
	}
}

/* To match page title resizing with logo resizing in lens.js */
@media screen and (max-width: 500px) {
	#banner-title {
		font-size: 16px;
		margin: 8px 12px 0px 6px;
	}
}
