/*************
Table of contents

1. General styles
2. Mobile-only
3. Medium-only
4. Large-only
5. Other

*************/

/*************
  Lens Theme

  Red: #B33125;
  Dark gray: #5A5A54
  Medium gray: #A8A299
  Light gray: #F5F5EF
  Black: #000000;
  White: #FFFFFF;

  Headlines (bold)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  font-weight: bold;

  Headlines alternate (roman)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;

  Sub-headlines (demi)
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;

  Body content
  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;

 *************/

/*************

1. CSS overrides

*************/

a, a:focus, a:visited, a:active {
    color: #B43018;
}
a:hover {
    text-decoration: underline;
    color: #000;
}

/*
 * Misc.
 */
.map-button {
    vertical-align: baseline;
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}

/*************

2. The Lens styles

*************/

/*
 * Buttons
 */
button.button {
    background-color: #B33125;
}
button.button:active, button.button:focus, button.button:hover {
    background-image: none;
    background-color: #B33125;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 6px 10px rgba(0,0,0,0.125);
    outline: none;
}
button.button:hover {
    background-color: #922A21;
}

/*
 * Autocomplete dropdown
 */
.ui-autocomplete-category {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 3px 4px 2px;
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}
.ui-menu, .ui-menu-item {
    font-size: 16px;
    left: 1px;
    line-height: 16px;
    margin: 0 0 0 2px;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
.ui-widget-content .ui-state-focus {
    background: #F5F5EF;
    padding-left: 0;
    border-left: 1px;
    border-right: none;
}
.ui-autocomplete {
    z-index: 1008;
    padding-right: 0;
    padding-left: 0;
}