<div id="foot" class="foot" style="dislay: none;">
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div id="tailend" class="tailend"></div>
            </div>
        </div>
        <div class="small-12 columns footer-sponsor-logo-wrapper" id="footer-sponsor-logo-wrapper">
            <div id="sponsor-title" class="about-title">Sponsored by</div>
        </div>
        <div class="small-12 columns">
            <div class="row">
                <div class="small-12 text-center columns">
                    <a href="http://corp-realty.com/" id="footer-sponsor-logo" target="_blank"><img id="footer-sponsor-image" class="footer-sponsor-image" src="https://s3-us-west-2.amazonaws.com/lensnola/realestate/css/images/corporate-realty-large.png" alt="Corporate Realty logo" /></a>
                </div>
            </div>
        </div>
        <div id="lens-about" class="small-12 columns lens-about">
            <div id="about-title" class="about-title">About</div>
            <p>Source: Orleans Parish Civil District Court, <a href="http://www.orleanscivilclerk.com/lr_home.html" target="_blank">Land Records Division</a> records since Feb. 18, 2014. <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">Read more</a> about this project and find other public records and databases in <a href="http://thelensnola.org/thevault/" target="_blank">The Vault</a>.</p>
            <div id="asterisk-note" class="asterisk-note">*This property is not mapped because we can't locate it.</div>
            <div id="cross-note" class="cross-note">†The parish Land Records Division has recorded this sale, but has not confirmed it. Sales are usually confirmed within two days.</div>
        </div>
        <div id="credit" class="small-12 columns credit">
            <div id="credit-title" class="credit-title">Credits</div>
            <div>Produced by Thomas Thoren.</div>
            <div>Published Sept. 13, 2014. Updated {{ data.update_date }}.</div>
        </div>
    </div>
</div>
