<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'banner.html' %}
    <div class="row">
      <div class="small-12 columns">
        <div id="back-to-search">
          <a href="/realestate/search/"><i class="fa fa-long-arrow-left"></i> Back to search</a>
        </div>
      </div>
    </div>
    <div id="map-table-wrapper">
      <div class="row">
        <div class="small-12 medium-5 medium-push-7 columns">
          <div class="row">
            <div class="small-12 columns">
              {% for newrow in newrows %}
                <div class="no-wrap" id="document-date">{{ newrow.document_date }}</div>
                <div class="no-wrap" id="amount">{{ newrow.amount }}</div>
                <div class="single-sale-listing" id="address"><strong>Address</strong><br>{{ newrow.address }}</div>
                <div class="single-sale-listing" id="location-info"><strong>Location Info</strong><br>{{ newrow.location_info }}</div>
                <div class="single-sale-listing" id="neighborhood"><strong>Neighborhood</strong><br>{{ newrow.neighborhood }}</div>
                <div class="single-sale-listing" id="zip-code"><strong>ZIP code</strong><br>{{ newrow.zip_code }}</div>
                <div class="single-sale-listing" id="sellers"><strong>Sellers</strong><br>{{ newrow.sellers }}</div>
                <div class="single-sale-listing" id="buyers"><strong>Buyers</strong><br>{{ newrow.buyers }}</div>
                <div class="single-sale-listing" id="instrument-no no-wrap">
                  <div>
                    <strong>Instrument Number</strong>
                  </div>
                  <div>
                    {{ newrow.instrument_no }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="small-12 columns" id="learn-more" class="learn-more">
              <a href="http://thelensnola.org/about-the-lens-property-sales-search-tool" target="_blank">Learn more about this data.</a>
            </div>
            <!-- <div class="small-12 columns" id="assessor" class="assessor">
              {{ data.assessor|safe }}
            </div> -->
          </div>
        </div>
        <div class="small-12 medium-7 medium-pull-5 columns map-wrapper">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    <div id="tooltip" class="tooltip"></div>
    {% include 'js.html' %}
    <script type="text/javascript" src={{ lens_js }}></script>
    <script type="text/javascript" src={{ sale_js }}></script>
    <script type="text/javascript">
      if ({{ js_data|tojson }} !== 'None') {
        //console.log('jsdata');
        initialMapFunction({{ js_data|tojson }});
      }
    </script>
    </script>
  </body>
</html>
